services:
  - type: web
    name: pokemon-ebay-tracker
    env: node
    region: frankfurt
    plan: free
    buildCommand: cd backend && npm install
    startCommand: node backend/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001